body {
  /* margin: 0; */
  
}
.page-wrap {
  display: flex;
}

.page-focus {
  width: 80%;
  height: 100%;
  text-align: center;
}

.page-list {
  width: 20%;
  height: 100%;
  background-color: aqua;
}

.title {
  font-size: x-large;
}

.mode {
  display: flex;
  width: 100%;
  justify-content: right;
  margin-top: 5px;
  
}
button {
  background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.mode-button {
  width: fit-content;
  height: 30px;
  padding: 5px 5px 0 5px;
}
.selected {
  background-color: yellow;
  border: 0 0 5px 0;
  border-color: blue;
  border-style: hidden hidden solid hidden;
}
.page {
  
}
.canvas {
  width: 100%;
  height: 90vh;
  background-color: darkgrey;
}

canvas {
  position: relative;
  top: 10px;
}