body {
  margin: 0;
  background-color: rgb(255, 234, 208);
  box-sizing: border-box;
}
.page-wrap {
  display: flex;
  height: 100vh;
}

.page-focus {
  width: 80%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

.page-list {
  width: 20%;
  height: 100%;
  background-color: rgb(189, 139, 156);
  padding: 5px 5px 20px 5px;
  box-sizing: border-box;
  overflow-y: scroll;
}


.title {
  font-size: x-large;
}

input {
  width: 90%;
  height: 40px;
}

form {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0 20px;
}

.text-button {
  width: 100px;
  height: 100%;
  cursor: pointer;
}

.hidden {
  display: none;
}

.mode {
  display: flex;
  width: 100%;
  justify-content: right;
  margin-top: 5px;
  
}

.peek {
  padding: 5px;
  cursor: pointer;
  margin: 3px;
  border-radius: 10px;
  background-color: rgb(255, 234, 208);
  border: grey solid 3px
}

.peek.selected {
  background-color: rgb(255, 234, 208);
  border: rgb(55, 119, 255) solid 3px
}

.add-page {
  padding: 5px;
  cursor: pointer;
  margin: 10px 3px;
  border-radius: 10px;
  background-color: rgb(255, 234, 208);
  border: grey solid 3px;
  text-align: center;
}

.peek-info {
  height: 50px;
}
button {
  background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.mode-button {
  width: fit-content;
  height: 30px;
  padding: 5px 5px 0 5px;
}
.selected {
  background-color: yellow;
  border: 0 0 5px 0;
  border-color: blue;
  border-style: hidden hidden solid hidden;
}
.page {
  
}
.canvas {
  overflow: hidden;
  width: 100%;
  height: 88.4vh;
  background-color: darkgrey;
}

canvas {
  position: relative;
  top: 10px;
}